<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="ISO-8859-1">
    <link href="https://fonts.googleapis.com/css?family=Orbitron" rel="stylesheet"/>
    <link rel="stylesheet" th:href="@{/css/style.css}">
    <title>Stellar</title>
</head>
<body>
<header>
    <nav>
        <ul>
            <li class="active"><a
                    href="./systems">Stellar Catalogue</a>
            </li>
        </ul>
        <div>

        </div>
    </nav>
</header>

<article>
    <section class="data">
        <span th:text="'Error message ' + ${message}"></span>
    </section>
</article>

</body>
</html>