<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="ISO-8859-1">
    <link href="https://fonts.googleapis.com/css?family=Orbitron" rel="stylesheet"/>
    <link rel="stylesheet" th:href="@{/css/style.css}">
    <title>Stellar</title>
</head>
<body>
<header>
    <nav>
        <ul>
            <li class="active"><a
                    href="./systems">Stellar Catalogue</a>
            </li>
        </ul>
        <div>

        </div>
    </nav>
</header>

<article>
    <div id="search">
        <span>SEARCH</span>
        <form action="systems" class="search-container" enctype="application/x-www-form-urlencoded" method="get">
            <input name="phrase" type="text"><input type="submit" value="">
        </form>
    </div>
    <section class="data">

        <div th:switch="${planets}">
            <h2 th:case="null">No planets yet!</h2>
            <div th:case="*">
                <span th:text="'Planets of ' + ${system.name}"></span>
                <table>
                    <thead>
                    <tr>
                        <th>Id</th>
                        <th>Name</th>
                        <th>Size</th>
                        <th>Moons</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr th:each="planet : ${planets}">
                        <td th:text="${planet.id}"/></td>
                        <td th:text="${planet.name}"></td>
                        <td th:text="${planet.size}"></td>
                        <td th:text="${planet.moons}"></td>
                    </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </section>
</article>

</body>
</html>