<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="ISO-8859-1">
    <link href="https://fonts.googleapis.com/css?family=Orbitron" rel="stylesheet"/>
    <link rel="stylesheet" th:href="@{/css/style.css}">
    <title>Stellar</title>
</head>
<body>
<header>
    <nav>
        <ul>
            <li class="active"><a
                    href="./systems">Stellar Catalogue</a>
            </li>
        </ul>
        <div>

        </div>
    </nav>
</header>

<article>
    <div id="search">
        <span>SEARCH</span>
        <form action="systems" class="search-container" enctype="application/x-www-form-urlencoded" method="get">
            <input name="phrase" type="text"><input type="submit" value="">
        </form>
    </div>
    <section class="data">

        <div th:switch="${systems}">
            <h2 th:case="null">No systems yet!</h2>
            <div th:case="*">
                <span>Planetary Systems</span>
                <table>
                    <thead>
                    <tr>
                        <th>Name</th>
                        <th>Star</th>
                        <th>Distance</th>
                        <th>Discovery</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr th:each="system : ${systems}">
                        <td><a th:href="@{/planets?systemId={id}(id=${system.id})}" th:text="${system.name}"/></td>
                        <td th:text="${system.star}"></td>
                        <td th:text="${system.distance}"></td>
                        <td th:text="${system.discovery}"></td>
                    </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </section>
</article>

</body>
</html>